In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("Superstore.csv")
df

,City,Customer ID,Customer Name,Customer Segment,Discount,Number of Records,Order Date,Order ID,Order Priority,Postal Code,...,Profit,Quantity ordered new,Region,Row ID,Sales,Ship Date,Ship Mode,Shipping Cost,State or Province,Unit Price
0,Bowie,2211,Anita Hahn,Home Office,0.08,1,1/1/10,88028,Not Specified,20715,...,-425.208400,2,East,19914,193.88,1/3/10,Express Air,35.00,Maryland,95.99
1,New York City,68,Scott Bunn,Corporate,0.00,1,1/2/10,37537,Low,10177,...,-308.928000,4,East,5272,1239.06,1/2/10,Delivery Truck,48.80,New York,291.73
2,Montebello,1155,Alex Nicholson,Consumer,0.08,1,1/2/10,90853,Critical,90640,...,108.516300,11,West,24225,157.27,1/2/10,Regular Air,1.97,California,15.04
3,New York City,68,Scott Bunn,Corporate,0.07,1,1/2/10,37537,Low,10177,...,-1679.760000,43,East,5273,4083.19,1/4/10,Delivery Truck,45.00,New York,100.98
4,Montebello,1155,Alex Nicholson,Consumer,0.09,1,1/2/10,90853,Critical,90640,...,20.299600,4,West,24224,34.41,1/4/10,Express Air,2.15,California,9.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,Nicholasville,2149,Rodney Proctor,Home Office,0.09,1,12/30/13,91107,Low,40356,...,676.032000,1,South,24916,803.33,12/30/13,Regular Air,24.49,Kentucky,832.81
9422,Nicholasville,2149,Rodney Proctor,Home Office,0.00,1,12/30/13,91107,Low,40356,...,450.327600,16,South,24915,347.32,12/30/13,Regular Air,4.00,Kentucky,19.98
9423,North Tonawanda,2277,Allison Peacock,Consumer,0.00,1,12/31/13,91506,Not Specified,14120,...,-28.099680,1,East,24554,200.57,1/2/14,Delivery Truck,70.20,New York,122.99
9424,North Tonawanda,2277,Allison Peacock,Consumer,0.06,1,12/31/13,91506,Not Specified,14120,...,4.045184,5,East,24553,65.18,1/2/14,Regular Air,4.98,New York,12.95
9425,Saint Charles,1090,Seth Davies,Small Business,0.03,1,12/31/13,90144,Medium,60174,...,2318.910600,20,Central,24129,3360.74,1/2/14,Regular Air,19.99,Illinois,162.93

In [10]:
df_1 = df[['City', 'Order Date', 'Sales', 'Profit']]
df_1 = df_1.rename(columns={'Order Date': 'Date'})
df_1

                 City      Date    Sales       Profit
0               Bowie    1/1/10   193.88  -425.208400
1       New York City    1/2/10  1239.06  -308.928000
2          Montebello    1/2/10   157.27   108.516300
3       New York City    1/2/10  4083.19 -1679.760000
4          Montebello    1/2/10    34.41    20.299600
...               ...       ...      ...          ...
9421    Nicholasville  12/30/13   803.33   676.032000
9422    Nicholasville  12/30/13   347.32   450.327600
9423  North Tonawanda  12/31/13   200.57   -28.099680
9424  North Tonawanda  12/31/13    65.18     4.045184
9425    Saint Charles  12/31/13  3360.74  2318.910600

[9426 rows x 4 columns]

In [11]:
df_1.groupby('City')['Sales'].sum().reset_index()

            City     Sales
0       Aberdeen   5296.39
1        Abilene   3950.34
2       Abington     81.87
3          Acton     25.00
4        Addison    496.62
...          ...       ...
1419        York    980.76
1420  Youngstown    903.24
1421   Yuba City    476.43
1422     Yucaipa  11027.78
1423        Yuma  19781.52

[1424 rows x 2 columns]